@Model IEnumerable<CoffeeShop.Model.User></CoffeeShop.Model.User>

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Registered Users</h2>
        @if (Model != null)
        {
            <table class="table">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>User name</th>
                    <th>Email</th>

                </tr>
                @foreach(var item in Model)
                {
            <tr>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.UserName</td>
                <td>@item.Email</td>
            </tr>
                }
            </table>
        }else
        {
            <p>There are no registered users.</p>
        }
    </div>

    <a asp-controller="Home" asp-action="Registration"><p>Registration</p></a>
</div>
